{% extends 'base.html.twig' %}

{% block customstylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/login.css')}}">
{% endblock %}
{% block menu %}{% endblock %}
{% block main %}
    {% if error %}
        <div class="">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form method="POST" action="{{path('login')}}" class="form-signin">
        <h1 class="">Please sign in</h1>
        <label for="inputEmail" class="">Email address</label>
        <input type="email" name="_email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="">Password</label>
        <input type="password" name="_password" id="inputPassword" class="" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <button class="" type="submit">Sign in</button>
        <p class="">&copy; 2017-2018 <a href="{{path('main_page')}}">main page</a></p>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    </form>
{% endblock %}
{% block footer_links %}{% endblock %}

